*{
    margin: 0;
    padding: 0;
}
.contenedor-index {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30cm 5cm;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.logo {
    width: 60px;
    height: 60px;
    justify-content: center;
}
.banner {
    width: 40px;
    height: 20px;
    justify-content: center;
}
.contenedor-nosotros {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:5cm 10cm 10cm 5cm;
    grid-template-areas: 
    "header"
    "nav"
    "footer";
}
header{
    grid-area: header;
    background-color: rgb(255, 214, 221);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
main {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: auto;
}
.navegacion{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav{
    grid-area: nav;
    background-color: rgb(255, 214, 221);
}

main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
}

.contenedor-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.card {
    width: 18rem;
    background-color: rgb(255, 255, 255);
}

.card img{
    width: 100%;
}

.card h4 {
    text-align: center;
}
section {
    grid-area: section;
    background-color: rgb(255, 21, 204);
}

footer {
    grid-area: footer;
    background-color: rgb(181, 102, 255);
}

footer h3 {
    text-align: center;
}

@media screen and (max-width: 500pxbody) {
    
    header{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .navegacion{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: medium;
        font-weight: bold;
    }
    .menu{
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    .contenedor-card{
        padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .card {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    
    .card img{
        width: 100%;
    }
    
    .card h4 {
        text-align: center;
    }
    
}